{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Irish Grover' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topnav col-lg-12">
        <img class = 'logo' src=https://logojpg.s3.us-east-2.amazonaws.com/logo.png alt="Trulli" >
        <p class="logo-text">E-Booming Rock</p>
        <a href="/">Home</a>
        <a href="/contact/">Contact</a>
        <a href="/about/">About</a>
      </div>
      
    <div class="col-lg-12">
        <img src=https://logojpg.s3.us-east-2.amazonaws.com/frontpageimageword.jpg alt="Trulli">
    </div>  

    <div class="col-lg-12">
        <img src=https://logojpg.s3.us-east-2.amazonaws.com/data+ptsd.jpg alt="Trulli">
    </div>

    <div class="col-lg-12">
        <img src=https://logojpg.s3.us-east-2.amazonaws.com/Solution.jpg alt="Trulli">
    </div>

    <div class="col-lg-12">
        <img src=https://logojpg.s3.us-east-2.amazonaws.com/Start+here.jpg alt="Trulli">
    </div>

    <a href="/traumaRecall/">
        <button class="startshere vertical-center" >Starts here</button>
    </a>

    <div class="col-lg-12">
        <img src=https://logojpg.s3.us-east-2.amazonaws.com/smileface.jpg alt="Trulli">
    </div>

    <div class="col-lg-12">
        <img src=https://logojpg.s3.us-east-2.amazonaws.com/copyright.jpg alt="Trulli">
    </div>
</body>
</html>

